<% @posts.each do |post| %>
    <p class="author"><%= post.author %></p>
    <h2><%= post.caption %></h2>
    <%= post.text.html_safe %>
    <ul class="action-list">
        <li><%= link_to 'Show', post %></li>
        <li><%= link_to 'Edit', edit_post_path(post) %></li>
        <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
    <br/>
    <br/>
<% end %>
<div id="pagination"><%= will_paginate @posts %></div>

<br>

<%= link_to 'New Post', new_post_path %>
